## Read in the data from the Wiki using pandas

In [34]:
import pandas as pd

df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df=df[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

### Get rid of the cell with "Not assigend" for Borough column

In [35]:
# Ignore cells with a borough that is Not assigned. 
df = df[df['Borough']!='Not assigned'].reset_index(drop=True)
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

### Loop the unique list to repalce the Neighbourhood value

In [36]:
# combined different neighbourhood under the same boroough to the same row 
temp_list=df['Postcode'].unique().tolist() # Generate the unique list of the postcode
for i in temp_list:
    temp_count = df[df['Postcode']==i].shape[0] # Count how many records each postcode has
    if temp_count>1:
        index_list=df[df['Postcode']==i].index.tolist() # Get the index of these records wiith more than 1 record
        # Get all the unique nieghbourhood for each borough and then assign them to each borough
        df.loc[index_list,'Neighbourhood']=' ,'.join(df[df['Postcode']==i]['Neighbourhood'].unique().tolist())
        
df.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront ,Regent Park
3      M5A  Downtown Toronto         Harbourfront ,Regent Park
4      M6A        North York  Lawrence Heights ,Lawrence Manor
5      M6A        North York  Lawrence Heights ,Lawrence Manor
6      M7A      Queen's Park                      Not assigned
7      M9A         Etobicoke                  Islington Avenue
8      M1B       Scarborough                    Rouge ,Malvern
9      M1B       Scarborough                    Rouge ,Malvern

### Allign the Neighbourhood value with borough

In [37]:
# If Neighbourhood is not assigned, then Neighourhood = borough

replace_list=df[df['Neighbourhood'] == "Not assigned"].index.tolist() # Find out the index for these Not assigned Neighbourhood
for index in replace_list:
    df.loc[index,'Neighbourhood']=df.loc[index,'Borough'] #for each index, use the Borough value to replae the "Not assigned"
    
df.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront ,Regent Park
3      M5A  Downtown Toronto         Harbourfront ,Regent Park
4      M6A        North York  Lawrence Heights ,Lawrence Manor
5      M6A        North York  Lawrence Heights ,Lawrence Manor
6      M7A      Queen's Park                      Queen's Park
7      M9A         Etobicoke                  Islington Avenue
8      M1B       Scarborough                    Rouge ,Malvern
9      M1B       Scarborough                    Rouge ,Malvern

### The number of rows of the final dataframe

In [38]:
df.shape[0]

211

### Import the Geospatial_Coordinates CSV file

In [39]:
import os 

os.chdir("C:/Users/lxu/Desktop")

df_geo=pd.read_csv("Geospatial_Coordinates.csv")
df_geo.head(3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711

In [40]:
df_geo.rename(columns={"Postal Code":"Postcode"}, inplace=True)
df_geo.head(3)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711

In [41]:
df=df.merge(df_geo, how="left", on='Postcode')
df.rename(columns={"Postcode": "PostalCode"},inplace=True)
df.head(10)

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront ,Regent Park",43.654260,-79.360636
3,M5A,Downtown Toronto,"Harbourfront ,Regent Park",43.654260,-79.360636
4,M6A,North York,"Lawrence Heights ,Lawrence Manor",43.718518,-79.464763
5,M6A,North York,"Lawrence Heights ,Lawrence Manor",43.718518,-79.464763
6,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
7,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
8,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353
9,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353